
		h1{
		clear:both;
			color: rgb(2,132,130);
text-align: center;
		}

		h2{
			color: #ffd700;
		}

		h3{
			color:#ffd700;
clear: both;
		}

nav{
  background: #808080;
}

a{
text-align: center;
  background-color: #ffbf00;
  color: white;
  padding: 35px;
  display: block;
  float: left;
}

a:hover{
  color: #ee5f3c;
}

		div.board{
			height: 80%;
			width: 50%;  
		}

		div.card{
			height: 200px;
			width: 150px;
			background-color: yellow;
			border:1px solid black;
			border-radius: 10px;
		}

footer{
  clear: both;
  text-align: center;
  padding: 10px;
  background: #808080;
}

p{
  text-align: center;
}

.ga{
  color: #ff0000;
}

.card{
  display: inline-block;
  width: 50%;
  height: 50%;
}
.board{
  float: left;
  margin: 8%;
}
.clearfix:after {
        visibility: hidden;
        display: block;
        content: " ";
        clear: both;
        height: 0;
        font-size: 0;
}

